@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f5f5f5;
}

.navbar{
  background: #333;
  padding: 0;
  margin: 0;
}

.container-bottom{
  padding-bottom: 5rem;
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0rem;
}

.nav-item:hover {
  background-color: #545454;
  color: white;
  text-decoration: none;
}

.nav-link{
  font-size: 14px;
  padding: 0.5rem 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 60px;
  background: url(/img/footer.png);
  background-size: cover;
  background-position: bottom;
}

.dataTables_wrapper{
  width: 100%;
    padding: 30px 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-submenu> a:after {
    content: ">";
    float: right;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.items{
  width: 90%;
}

.poster{
    position: relative;
    display: -webkit-inline-box;
    background: url(/img/profile/item.png);
    background-size: 90% 90%;
}

.descr{
    display:none;
    margin-left: 50px;
    padding: 10px;
    margin-top: 3px;
    background: #f3f3f3;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.bottom-right{
  position: absolute;
  bottom: 0;
  right: .4rem;
  color: white;
  margin-bottom: 2px;
  font-size: 11px;
}

.poster:hover .descr{
    display: block;
    position: absolute;
    top: 57px;
    z-index: 9999;
    width: 300px;
}

#example_wrapper{
  margin-bottom: 50px;
}

.user-profile{
  width: 100%;
}

.item-list{
  position: absolute;
  display: grid;
  grid-column: 10;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  color: #444;
  top: 10.1%;
  left: 38%;
  width: 55%;
}

.item{
  width: 5%;
}

.img-bg{
  max-width: none;
    min-width: auto;
    min-height: auto;
    width: 100%;
    height: 100%;
  }

  .money{
    position: absolute;
    bottom: 10%;
    left: 40.1%;
  }

  .two{
    position: absolute;
    bottom: 10%;
    left: 44.1%;
  }

  .one{
    position: absolute;
    bottom: 10%;
    left: 48.1%;
  }

  .money-value{
    margin-right: 7px;
    font-size: 12px;
    color: #684A18;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .content{
    display: -webkit-inline-box;
    position: absolute;
    margin-left: 1rem;
    z-index: 1;
  }

  .center{
    position: sticky;
    top: 50%;
    text-align: center !important;
  }

  .name{
    display: -webkit-inline-box;
    position: absolute;
    margin-left: 6rem;
    width: 100%;
  }
  
  .list{
    padding: 0;
    margin-left: -1em;
    list-style-type: none;
    font-family: Comic Sans MS;
  }

  .character_icon, .select_bg {
    opacity: 0.7;
  }

  .list > li > h1{
    font-size: 22px;
    margin-top: 1em;
    color: black;
    float: left;
    margin-bottom: 0;
    opacity: 0.7;
  }

  .list > li > h6{
    color: black;
    float: left;
    font-size: 16px;
    line-height: normal;
  }

  .span12 > a:hover > .content > .character_icon, .span12 > a:hover > .select_bg,
  a:hover > .content > .name > .list > li > h1{
    opacity: 1;
  }