@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background: #f5f5f5;
}

.client{
	float: right;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.dataTables_wrapper{
	width: 100%;
}