* {
    margin: 0;
    padding: 0;
}
.section {
    width: 100%;
    height: 100vh;
    background: #FBf6FA url("/img/error/bcg__bottom.png") no-repeat  bottom / 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error__number {
    margin-top: 8vh;
    width: 38%;
    background: url(/img/error/error__number__bcg.png) no-repeat center/100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 240px;
    color: #fff;
    text-align: center;
}
.text {
    /*font-family: Yoon YGO 540_TT;*/
    line-height: normal;
    font-size: 36px;
    color: #755747;
}
.btn {
    margin-top: 4vh;
    width: 15%;
    height: 86px;
    background: url(/img/error/btn__bcg.png) no-repeat center;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-size: cover;
    line-height: 86px;
    font-size: 53px;
}
@media screen and (max-width: 1920px) {
    .error__number {
        font-size: 220px;
    }
    .text {
        font-size: 30px;
    }
    .btn {
        height: 70px;
        line-height: 70px;
        font-size: 40px;
    }
}
@media screen and (max-width: 1600px) {
    .error__number {
        font-size: 180px;
    }
    .text {
        font-size: 24px;
    }
    .btn {
        height: 60px;
        line-height: 60px;
        font-size: 34px;
    }
}
@media screen and (max-width: 1368px) {
    .error__number {
        font-size: 140px;
    }
    .text {
        font-size: 20px;
    }
    .btn {
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }
}
@media screen and (max-width: 1120px) {
    .error__number {
        font-size: 110px;
    }
    .text {
        font-size: 16px;
    }
    .btn {
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
}
@media screen and (max-width: 960px) {
    .error__number {
        font-size: 90px;
    }
    .text {
        font-size: 14px;
    }
    .btn {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}
@media screen and (max-width: 760px) {
    .error__number {
        font-size: 60px;
    }
    .text {
        font-size: 12px;
    }
    .btn {
        height: 25px;
        line-height: 25px;
        font-size: 15px;
    }
}
@media screen and (max-width: 480px) {
    .error__number {
        font-size: 40px;
    }
    .text {
        font-size: 10px;
    }
    .btn {
        height: 18px;
        line-height: 18px;
        font-size: 10px;
    }
}